/*
 * File: _colors.scss
 * Project: covid-tracker
 * Description:
 * File Created: Thursday, 10th April 2020 12:24:56 am
 * Author: Shivam Pandey
 * -----
 * Last Modified: Thursday, 10th April 2020 12:24:56 am
 * Modified By: Shivam Pandey<shivam22pandey22@gmail.com>
 * -----
 */

:root {
    --primary: #424242;
    --accent: #C72A28;
    --background: #fff;
    --background-light: rgb(255, 255, 255);
    --text-primary: #000;
    --text-light: #444;
    --text-dark: rgb(26, 26, 26);
    --success: #28a745;
    --error: #ff073a99;
}
