.section__heading {
    h3 {
        padding: 0 8px;
        margin: 0;
        color: var(--text-primary);
        margin-bottom: 8px;
        position: relative;
        flex: 0 0 30%;
    }
    span {
        height: 1px;
        width: 100%;
        margin-right: 8px;
        background-color: var(--text-light);
    }
}

.quick-stats {
    padding: 0 16px;
    margin: 16px 0;
    &__item {
        flex: 50%;
    }
}

.contact-section {
    margin: 24px;
    .contact-info {
        margin-top: 24px;
    }
}

.news {
    width: 50%;
    height: 800px;
    overflow: auto;
    margin-top: 40px;
    margin-right: 16px;
    border-bottom: 1px solid var(--accent);
}

.state-info {
    // background-color: var(--background-light);
    border-bottom: 1px solid var(--accent);
    margin-top: 40px;
    margin-left: 16px;
    // padding: 0 0 0 16px;
    width: 50%;
    height: 800px;
    overflow: auto;
    // &__state-items-container {
    //     height: 500px;
    //     overflow: auto;
    // }
    &__items {
        margin-top: 24px;
    }
    &__search {
        padding: 12px 0;
        .search {
            &__input {
                position: relative;
                input {
                    background-color: var(--background-light);
                    width: 100%;
                    border: 2px solid var(--accent);
                    box-sizing: border-box;
                    height: 50px;
                    color: var(--text-primary);
                    padding: 0 16px 0 40px;
                    line-height: 50px;
                    &:focus {
                        outline: none;
                        border: 2px solid var(--accent);
                    }
                }
                .search__icon {
                    position: absolute;
                    left: 8px;
                    height: 50px;
                    color: var(--accent);
                }
                button {
                    height: 50px;
                    position: absolute;
                    right: 0px;
                    bottom: 0;
                }
            }
            &__button {
                border-radius: 0 !important;
            }
        }
    }
}

//SCROLLBAR SCSS

/* width */

::-webkit-scrollbar {
    width: 2px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 959px) {
    .state-info {
        width: 90%;
        margin-left: 0;
    }
    .news {
        width: 90%;
        margin-right: 0;
    }
}
